.mat-card {
    border-radius: 0px;
    margin: 0px;
}

.obligatorio {
    color: red;
    font-size: 10pt;
    padding-top: 10px;
}

.error {
    color: red !important;
    margin-top: -15px !important;
}